# ===== Runtime data (do NOT track) =====
*.accdb
*.laccdb
*.csv
# BUT allow the template
!databases/students_template.accdb

# ===== Build output =====
build/
dist/

# ===== NetBeans private =====
nbproject/private/
